.menu {
  width: 390px;
  height: 56px;
  display: flex;
  justify-content: space-around;
}
.btnMenu {
  border: none;
  background: none;
  color: var(--texto);
}
.btnMenu:hover {
  color: var(--acento);
}
